header
  .contacts
    ol
      li 
        p {{profile.geo}} 
      li
        p 
          a(:href="profile.github" :title="profile.github") github.com
          span.linkprint {{profile.github}}
        p 
          a(:href="profile.email" :title="profile.email") {{profile.email}}
          span.linkprint {{profile.email}}
      li  
        p(title="The user wanted to hide their phone number") {{profile.phone}}
        p The user wanted to hide their phone number
  .name 
     .userdata
       .photouser
       h1 {{profile.name}}
       p {{profile.prof}}
       p 
         span(v-for="(s,k) in social" :key="social+k*3")
           a(:href="s.link" target="_blank" :id="s.name+'_'+k") {{s.name}}
       p
         span
           router-link(to="/ru") RU
         span |
           router-link(to="/en") EN
